<!DOCTYPE html>
<html lang="pt-br" ng-app="crud">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Materiais</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="angular/app.js"></script>

</head>


<body ng-controller="controller" style="background-color: #ffffff">
<hr>
<div class='col-sm-offset-4 col-sm-4'>
    <h2> Listagem de Materiais </h2>
</div>
<div class='col-sm-4'>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" ng-click="novoId()">Novo</button>
</div>
<hr>
<br><br><br><br>
<div class=' col-sm-offset-1 col-sm-9'>
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="border: 0px;">ID</th>
            <th style="border: 0px;">Nome do Material</th>
            <th style="border: 0px;">Linha</th>
            <th style="border: 0px;">Tipo</th>
            <th style="border: 0px;">Produto</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="material in materiais">
            <td>{{material.Id}}</td>
            <td>{{material.Material}}</td>
            <td>{{material.Linha}}</td>
            <td>{{material.Tipo}}</td>
            <td>{{material.IdProduto}}</td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                        data-target="#myModalEditar" ng-click="selecionaMaterial(material)">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                        data-target="#myModalExcluir" ng-click="selecionaMaterial(material)">Excluir</button>
            </td>
            <td>
            <button type="button" class="btn"><i class="bi bi-caret-up-fill"></i>
            </button>
            1
            <button type="button" class="btn"><i class="bi bi-caret-down-fill"></i></button></td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="reset()">&times;</button>
                <h4 class="modal-title">Novo Material Id={{novoMaterial.Id}}</h4>
            </div>
            <div class="modal-body">
                <form name="frm1" id="frm1" class="form-horizontal needs-validation" role="form" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Material</label>
                        <div class="col-sm-10">
                            <input name="namei" type="text" class="form-control" placeholder="Nome do Material..."
                            ng-model="novoMaterial.Material" ng-required="true">
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm1.namei.$invalid && (frm1.namei.$dirty || frm1.namei.$touched)">Nome invalido.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Linha</label>
                        <div class="col-sm-10">
                            <select name="linha" class="form-control" ng-model="novoMaterial.Linha" ng-required="true"
                            ng-options="linha.Id as linha.Nome for linha in linhas">
                            <option value="">Selecione uma linha...</option>
                            
                        
                        </select>
                        </div> 
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm1.linha.$invalid && (frm1.linha.$dirty || frm1.linha.$touched)">Escolha uma linha.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Tipo</label>
                        <div class="col-sm-10">
                        
                        <select name="tipo" class="form-control" ng-model="novoMaterial.Tipo" ng-required="true"
                            ng-options="tipo.Id as tipo.Nome for tipo in tipos">
                            <option value="">Selecione um tipo...</option>
                        </select>
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm1.tipo.$invalid && (frm1.tipo.$dirty || frm1.tipo.$touched)">Escolha um tipo.</span>
                    </div> 
                    <div class="form-group">
                        <label class="control-label col-sm-2">Produto</label>
                        <div class="col-sm-10">
                        
                        <select name="produto"class="form-control" ng-model="novoMaterial.IdProduto" ng-required="true" ng-options="produto.Id as produto.Nome for produto in produtos">
                            <option value="">Selecione um produto...</option>         
                        </select>
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm1.produto.$invalid && (frm1.produto.$dirty || frm1.produto.$touched)">Escolha um produto.</span>
                    </div>
                   
                    <div class="form-group">
                        <label class="control-label col-sm-2">Palavras-Chave</label>
                        <div class="col-sm-10">
                        <textarea name="keywords"placeholder="Palavra1;Palavra2;Palavra3..." ng-model=novoMaterial.PalavrasChave class="form-control" rows="3" ng-required="true" ></textarea>
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm1.keywords.$invalid && (frm1.keywords.$dirty || frm1.keywords.$touched)">Palavras passe invalidas.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Descrição</label>
                        <div class="col-sm-10">
                        <textarea name="descri" placeholder="Digite a descrição do material..." ng-model=novoMaterial.Descricao class="form-control" rows="6" ng-required="true" ></textarea>
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm1.descri.$invalid && (frm1.descri.$dirty || frm1.descri.$touched)">Descrição invalida.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" >Link</label>
                        <div class="col-sm-10">
                        <input name="link" type="text" class="form-control" placeholder="Digite um link..."  ng-model="novoMaterial.Link" ng-required="true">
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm1.link.$invalid && (frm1.link.$dirty || frm1.link.$touched)">Link invalido.</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  ng-disabled="frm1.$invalid"
                            ng-click="salvar(); reset(); novoId()" > Salvar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Fechar</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalEditar" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="resete()"data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Material Id={{edit.Id}}</h4>
            </div>
            <div class="modal-body">
                <form name="frm2" id="frm2" class="form-horizontal needs-validation" role="form" novalidate>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Material</label>
                        <div class="col-sm-10">
                            <input name="namei"type="text" class="form-control" placeholder="Nome do Material..."
                            ng-model="edit.Material" ng-required="true">
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm2.namei.$invalid && (frm2.namei.$dirty || frm2.namei.$touched)">Nome invalido.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Linha</label>
                        <div class="col-sm-10">
                            <select name="linha" class="form-control" ng-model="edit.Linha" ng-required="true"
                            ng-options="linha.Id as linha.Nome for linha in linhas">
                            <option value=""></option>
                        </select>
                        </div> 
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm1.linha.$invalid && (frm1.linha.$dirty || frm1.linha.$touched)">Escolha uma linha.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Tipo</label>
                        <div class="col-sm-10">
                        
                        <select name="tipo" class="form-control" ng-model="edit.Tipo" ng-required="true"
                        ng-options="tipo.Id as tipo.Nome for tipo in tipos">
                        <option value=""></option>
                        </select>
                        
                    </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm2.tipo.$invalid && (frm2.tipo.$dirty || frm2.tipo.$touched)">Escolha um tipo.</span>
                        
                    </div> 
                    <div class="form-group">
                        <label class="control-label col-sm-2">Produto</label>
                        <div class="col-sm-10">
                        
                            <select name="produto"class="form-control" ng-model="edit.IdProduto" ng-required="true" ng-options="produto.Id as produto.Nome for produto in produtos">
                                <option value=""></option>       
                            </select>
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm2.produto.$invalid && (frm2.produto.$dirty || frm2.produto.$touched)">Escolha um produto.</span>
                    </div>
                   
                    <div class="form-group">
                        <label class="control-label col-sm-2">Palavras-Chave</label>
                        <div class="col-sm-10">
                        <textarea ng-required="true" name="keywords" placeholder="Palavra1;Palavra2;Palavra3..." ng-model=edit.PalavrasChave class="form-control" rows="3" ></textarea>
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm2.keywords.$invalid && (frm2.keywords.$dirty || frm2.keywords.$touched)">Palavras passe invalidas.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Descrição</label>
                        <div class="col-sm-10">
                        <textarea ng-required="true" name="descri"placeholder="Digite a descrição do material..." ng-model=edit.Descricao class="form-control" rows="6" ></textarea>
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm2.descri.$invalid && (frm2.descri.$dirty || frm2.descri.$touched)">Descrição invalida.</span>
                    </div>
                    <div class="form-group" >
                        <label class="control-label col-sm-2">Link</label>
                        <div class="col-sm-10">
                        <input ng-required="true" name="link"class="form-control" placeholder="Digite um link..." type="url" ng-model="edit.Link">
                        </div>
                        <span class="control-label pull-right col-sm-4 text-danger" ng-show="frm2.link.$invalid && (frm2.link.$dirty || frm2.link.$touched)">Link invalido.</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="resete()" type="button" class="btn btn-primary" >Desfazer</button>
                <button type="submit" class="btn btn-primary"
                            ng-click="update(edit)" data-dismiss="modal" >Salvar</button>
                <button ng-click="resete()" type="button" class="btn btn-default" data-dismiss="modal" >Fechar</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalExcluir" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Você tem certeza?</h4>
            </div>
            <div class="modal-body">
                <h4 style="font-weight: bolder"> Você vai excluir {{materialSelecionado.Material}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                ng-click="excluirMaterial()" data-dismiss="modal">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>

    </div>
</div>


</body>
</html>